*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background-color: white;
    width: 80%;
    margin: 0 15% 0 10%;
}
.Standard-container {
    display: grid;
    background-color: #555555;
    justify-content: center;
    align-content: center;
    width: 450px;
    height: 700px;
    margin: 0 0 0 30%;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: minmax(20%, auto) repeat(6, 10%);
}

.Standard-container>button {
    cursor: pointer;
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 15px;
    outline: none;
}

.Standard-container>button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.equals {
    background-color: blue;
}

.operator {
    background-color: rgba(0, 0, 0, 0.5);
    color:rgba(255,255,255,0.75);
}

.number {
    background-color: white;
    font-weight: bold;
}

.equals {
    background-color: rgba(0, 0, 255, 0.5);
}

.output {
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    margin:0;
}

.previous1 {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.5)
}

.current1 {
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}